@import "../styles.less";

:host,
.app-layout,
.menu-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: @dhl-yellow;
  overflow: hidden;
  /* Disable scrollbars */
}

.app-header,
.app-sub-header,
.app-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  width: 100vw;
  /* Full width */
  z-index: 1000;
  background: @dhl-yellow  !important;
  margin: 0;
  padding: 0;
}

.app-header .menubar,
.app-sub-header ul[nz-menu],
.app-footer {
  display: flex;
  gap: 10px;
  background: @dhl-yellow  !important;
}

.app-header ul[nz-menu].main-menu li[nz-menu-item] {
  font-weight: normal;
  /* Set font weight to normal */
  font-size: 1rem;
  /* Default font size */
  color: @dhl-white  !important;
  /* Set text color to white */
}

.app-header ul[nz-menu].main-menu li[nz-menu-item]:hover {
  background-color: transparent !important;
  color: @dhl-black  !important;
  /* Keep text color white */
}

.app-sub-header ul[nz-menu] li[nz-menu-item],
.app-sub-header ul[nz-menu] li[nz-submenu]>div[nz-submenu-title]>span,
.app-sub-header ul[nz-menu] li[nz-submenu] ul li[nz-menu-item],
.app-sub-header ul[nz-menu] li[nz-submenu] ul li[nz-submenu]>div[nz-submenu-title]>span {
  font-weight: bold;
  /* Set font weight to bold */
  font-size: 1.2rem;
  /* Increase font size */
  color: @dhl-black  !important;
  /* Set text color to black */
}

.app-sub-header ul[nz-menu] li[nz-menu-item]:hover,
.app-sub-header ul[nz-menu] li[nz-submenu]>div[nz-submenu-title]:hover,
.app-sub-header ul[nz-menu] li[nz-submenu] ul li[nz-menu-item]:hover,
.app-sub-header ul[nz-menu] li[nz-submenu] ul li[nz-submenu]>div[nz-submenu-title]:hover,
.app-sub-header ul[nz-menu] li[nz-menu-item].ant-menu-item-selected,
.app-sub-header ul[nz-menu] li[nz-submenu]>div[nz-submenu-title].ant-menu-item-selected,
.app-sub-header ul[nz-menu] li[nz-submenu] ul li[nz-menu-item].ant-menu-item-selected,
.app-sub-header ul[nz-menu] li[nz-submenu] ul li[nz-submenu]>div[nz-submenu-title].ant-menu-item-selected,
.app-sub-header ul[nz-menu] li[nz-submenu].ant-menu-submenu-selected>div[nz-submenu-title],
.app-sub-header ul[nz-menu] li[nz-submenu].ant-menu-submenu-selected>div[nz-submenu-title]>span {
  background-color: @dhl-orange  !important;
  /* Deep orange color on hover and when selected */
  color: @dhl-black  !important;
  /* Keep text color black */
}

.app-sub-header ul[nz-menu] {
  display: flex;
  /* 使用 flexbox 來排列子項目 */
  flex-wrap: wrap;
  /* 允許子項目換行 */
  gap: 0;
  /* 設定間隙為0 */
}

.app-sub-header ul[nz-menu] li[nz-menu-item],
.app-sub-header ul[nz-menu] li[nz-submenu]>div[nz-submenu-title] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95px;
  /* 設定固定寬度 */
  box-sizing: border-box;
  /* 確保 padding 和 border 不會影響寬度 */
  margin: 0;
}

nz-header ul[nz-menu] {
  background-color: @dhl-yellow  !important;
  /* Change menu background color */
}

nz-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 24px;
  /* Remove top and bottom padding */
  background-color: @dhl-background-color;
  /* Ensure consistent content background color */
}

.inner-content {
  padding: 24px;
  background: @dhl-background-color;
  /* Use defined background color */
  height: 100%;
  margin-top: -37px;
  /* Reduce margin to make it closer to breadcrumb */
}

.breadcrumb-container,
.breadcrumb-container-single {
  padding: 0;
  margin-top: 6px;
  margin-left: -13px;
  height: 50px;
}

.p-breadcrumb {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  color: @dhl-black  !important;
  padding: 0;
  margin: 5;
  border: none;
}

.breadcrumb-style {
  color: @dhl-black  !important;
  font-size: 1rem !important;
}

.p-menuitem,
.p-menuitem-text {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  color: @dhl-black  !important;
}

.app-footer {
  text-align: center;
  background: @dhl-yellow  !important;
  padding: 10px;
  width: 100vw;
  /* Full width */
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 64px;
  background: @dhl-yellow;
}

.sidebar-logo img {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  margin: 0 0 0 20px;
  color: @dhl-white;
  /* Set text color to white */
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: @dhl-black;
}

.main-menu {
  li[nz-menu-item] {

    &:hover,
    &:focus,
    &:active {
      background-color: transparent !important;
    }
  }
}
