@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Set theme variables
@primary-color: #FFCC00; // DHL Yellow
@link-color: #D40511; // DHL Red
@success-color: #52c41a; // Green
@warning-color: #faad14; // Orange
@error-color: #f5222d; // Red
@font-size-base: 14px; // Base font size
@heading-color: #001529; // Heading color
@text-color: #333; // Primary text color
@text-color-secondary: #aaa; // Secondary text color
@disabled-color: #f5f5f5; // Disabled color
@border-radius-base: 4px; // Component/overlay border radius
@border-color-base: #d9d9d9; // Border color
@box-shadow-base: 0 3px 6px rgba(0, 0, 0, 0.16); // Overlay shadow

// Naming color variables
@dhl-yellow: @primary-color; // DHL Yellow
@dhl-red: @link-color; // DHL Red
@dhl-green: @success-color; // Green
@dhl-orange: @warning-color; // Orange
@dhl-dark-red: @error-color; // Dark Red
@dhl-heading-color: @heading-color; // Heading color
@dhl-text-color: @text-color; // Primary text color
@dhl-text-secondary-color: @text-color-secondary; // Secondary text color
@dhl-disabled-color: @disabled-color; // Disabled color
@dhl-border-color: @border-color-base; // Border color
@dhl-box-shadow: @box-shadow-base; // Overlay shadow
@dhl-background-color: #fff; // Background color
@dhl-white: #fff; // White
@dhl-black: #000; // Black

body {
  background-color: @dhl-yellow;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

li.p-menuitem {
  padding: 5px 10px;
  margin: 0;
  display: flex;
  align-items: left;
  width: 100%;
  z-index: 1000;
  /* Ensure the item fills the available width */
}

.p-menuitem-icon {
  margin-right: 1px;
  padding-left: 0;
  font-size: 14px;
  color: blue;
}

.p-menuitem-content {
  display: flex;
  align-items: left;
  width: 100%;
  /* Ensure the content fills the available width */
}

.p-menuitem-text {
  font-size: 8px;
  white-space: nowrap;
}

.p-contextmenu-root-list {
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 210px;
}

.p-menuitem-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  width: 100%;
  /* Ensure the link fills the available width */
  box-sizing: border-box;
  /* Include padding and border in the element's width and height */
}

.p-menuitem-link:hover {
  background-color: #e9ecef;
  box-sizing: border-box;
  /* Ensure the hover background fits within the box */
  width: 100%;
  /* Ensure the hover background fills the available width */
}
